
<div>
    <h2><span>Dip ISTIC</span> {{vm.dipISTIC.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Di Libelle</span></dt>
        <dd>
            <span>{{vm.dipISTIC.diLibelle}}</span>
        </dd>
        <dt><span>Di Duree</span></dt>
        <dd>
            <span>{{vm.dipISTIC.diDuree}}</span>
        </dd>
        <dt><span>Di Libc</span></dt>
        <dd>
            <span>{{vm.dipISTIC.diLibc}}</span>
        </dd>
        <dt><span>En Ident</span></dt>
        <dd>
            <a ui-sref="enseignant-detail({id:vm.dipISTIC.enIdent.id})">{{vm.dipISTIC.enIdent.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="dip-istic-detail.edit({id:vm.dipISTIC.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
