
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDipISTICLabel">Create or edit a Dip ISTIC</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.dipISTIC.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.dipISTIC.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_diLibelle">Di Libelle</label>
            <input type="text" class="form-control" name="diLibelle" id="field_diLibelle"
                    ng-model="vm.dipISTIC.diLibelle"
                    required />
            <div ng-show="editForm.diLibelle.$invalid">
                <p class="help-block"
                    ng-show="editForm.diLibelle.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_diDuree">Di Duree</label>
            <input type="number" class="form-control" name="diDuree" id="field_diDuree"
                    ng-model="vm.dipISTIC.diDuree"
                    required />
            <div ng-show="editForm.diDuree.$invalid">
                <p class="help-block"
                    ng-show="editForm.diDuree.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.diDuree.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_diLibc">Di Libc</label>
            <input type="text" class="form-control" name="diLibc" id="field_diLibc"
                    ng-model="vm.dipISTIC.diLibc"
                     />
        </div>

        <div class="form-group">
            <label for="field_enIdent">En Ident</label>
            <select class="form-control" id="field_enIdent" name="enIdent" ng-model="vm.dipISTIC.enIdent" ng-options="enseignant as enseignant.id for enseignant in vm.enidents | orderBy:'id' track by enseignant.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
