<div>
    <h2>Dip ISTICS</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="dip-istic.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Dip ISTIC
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Di Libelle</span></th>
                    <th><span>Di Duree</span></th>
                    <th><span>Di Libc</span></th>
                    <th><span>En Ident</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dipISTIC in vm.dipISTICS track by dipISTIC.id">
                    <td><a ui-sref="dip-istic-detail({id:dipISTIC.id})">{{dipISTIC.id}}</a></td>
                    <td>{{dipISTIC.diLibelle}}</td>
                    <td>{{dipISTIC.diDuree}}</td>
                    <td>{{dipISTIC.diLibc}}</td>
                    <td>
                        <a ui-sref="enseignant-detail({id:dipISTIC.enIdent.id})">{{dipISTIC.enIdent.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="dip-istic-detail({id:dipISTIC.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dip-istic.edit({id:dipISTIC.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dip-istic.delete({id:dipISTIC.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
