
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEnseignantLabel">Create or edit a Enseignant</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.enseignant.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.enseignant.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label">Sesame</label>
            <input type="text" class="form-control" name="login"
                   ng-model="vm.enseignant.user.login" ng-required="vm.enseignant.user.id == null" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/">

            <div ng-show="editForm.login.$invalid">
                <p class="help-block"
                   ng-show="editForm.login.$error.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.login.$error.maxlength"
                  >
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enAdElec">Email</label>
            <input type="email" class="form-control" name="enAdElec" id="field_enAdElec"
                   ng-model="vm.enseignant.enAdElec" ng-maxlength="100" required>

            <div ng-show="editForm.enAdElec.$invalid">
                <p class="help-block"
                   ng-show="editForm.enAdElec.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.enAdElec.$error.enAdElec">
                    Your e-mail is invalid.
                 </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enSexe">Sexe</label><br/>
            <div class="radio-inline">
			  	<input type="radio" name="enSexe" id="field_enSexe" ng-model="vm.enseignant.enSexe" value="H" checked> Homme
			</div>
            <div class="radio-inline">
			  	<input type="radio" name="enSexe" id="field_enSexe" ng-model="vm.enseignant.enSexe" value="F"> Femme
			</div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enNom">Nom</label>
            <input type="text" class="form-control" name="enNom" id="field_enNom"
                    ng-model="vm.enseignant.enNom"
                    required />
            <div ng-show="editForm.enNom.$invalid">
                <p class="help-block"
                    ng-show="editForm.enNom.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enPrenom">Prénom</label>
            <input type="text" class="form-control" name="enPrenom" id="field_enPrenom"
                    ng-model="vm.enseignant.enPrenom"
                    required />
            <div ng-show="editForm.enPrenom.$invalid">
                <p class="help-block"
                    ng-show="editForm.enPrenom.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enAdr">Adresse</label>
            <input type="text" class="form-control" name="enAdr" id="field_enAdr"
                    ng-model="vm.enseignant.enAdr"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enTelPro">Tel Pro</label>
            <input type="text" class="form-control" name="enTelPro" id="field_enTelPro"
                    ng-model="vm.enseignant.enTelPro"
                     />
        </div>

        <div class="form-group">
            <label for="activated">
                <input ng-enabled="vm.enseignant.user.id === null" type="checkbox" id="activated" name="activated" ng-model="vm.enseignant.user.activated">
                <span>Actif</span>
            </label>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
