
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNafLabel">Create or edit a Naf</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.naf.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.naf.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nafLibelle">Libelle</label>
            <input type="text" class="form-control" name="nafLibelle" id="field_nafLibelle"
                    ng-model="vm.naf.nafLibelle"
                    required />
            <div ng-show="editForm.nafLibelle.$invalid">
                <p class="help-block"
                    ng-show="editForm.nafLibelle.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_taCode">Libelle activite</label>
            <select class="form-control" id="field_taCode" name="taCode" ng-model="vm.naf.taCode" ng-options="activite as activite.taLibelle for activite in vm.activites track by activite.taLibelle">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
