
<div>
    <h2><span>Naf</span> {{vm.naf.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Libelle</span></dt>
        <dd>
            <span>{{vm.naf.nafLibelle}}</span>
        </dd>
        <dt><span>Libelle activite</span></dt>
        <dd>
            <a ui-sref="activite-detail({id:vm.naf.taCode.id})">{{vm.naf.taCode.taLibelle}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="naf-detail.edit({id:vm.naf.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
