<div>
    <h2>Nafs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="naf.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Naf
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Libelle</span></th>
                    <th><span>Libelle activite</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="naf in vm.nafs track by naf.id">
                    <td><a ui-sref="naf-detail({id:naf.id})">{{naf.id}}</a></td>
                    <td>{{naf.nafLibelle}}</td>
                    <td>
                        <a ui-sref="activite-detail({id:naf.taCode.id})">{{naf.taCode.taLibelle}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="naf-detail({id:naf.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="naf.edit({id:naf.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="naf.delete({id:naf.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
