<div>
    <h2>Stages</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="stage.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Stage
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Numero Sequence</span></th>
                    <th><span>Service</span></th>
                    <th><span>Date de début</span></th>
                    <th><span>Date de fin</span></th>
                    <th><span>Sujet</span></th>
                    <th><span>Langages</span></th>
                    <th><span>Materiel</span></th>
                    <th><span>Mots Cles</span></th>
                    <th><span>Details</span></th>
                    <th><span>Jours Duree Travail</span></th>
                    <th><span>Indp</span></th>
                    <th><span>Versement</span></th>
                    <th><span>Avantages Nature</span></th>
                    <th><span>Mode Suivi</span></th>
                    <th><span>Appreciation</span></th>
                    <th><span>Date Convention</span></th>
                    <th><span>Etat Convention</span></th>
                    <th><span>Soutenance</span></th>
                    <th><span>Rapport</span></th>
                    <th><span>Operation</span></th>
                    <th><span>Date Maj</span></th>
                    <th><span>Maj</span></th>
                    <th><span>Partenaire</span></th>
                    <th><span>Enseignant</span></th>
                    <th><span>Identifiant Tuteur</span></th>
                    <th><span>Identifiant Responsable</span></th>
                    <th><span>Etudiant</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stage in vm.stages track by stage.id">
                    <td><a ui-sref="stage-detail({id:stage.id})">{{stage.id}}</a></td>
                    <td>{{stage.sNumSeq}}</td>
                    <td>{{stage.sService}}</td>
                    <td>{{stage.sDateDebut | date:'mediumDate'}}</td>
                    <td>{{stage.sDateFin | date:'mediumDate'}}</td>
                    <td>{{stage.sSujet}}</td>
                    <td>{{stage.sLang}}</td>
                    <td>{{stage.sMateriel}}</td>
                    <td>{{stage.mMotsCles}}</td>
                    <td>{{stage.sDetails}}</td>
                    <td>{{stage.sJoursDureeTravail}}</td>
                    <td>{{stage.sIndp}}</td>
                    <td>{{stage.sVersement}}</td>
                    <td>{{stage.sAvantagesNature}}</td>
                    <td>{{stage.sModeSuiv}}</td>
                    <td>{{stage.sAppreciation}}</td>
                    <td>{{stage.sDateConv | date:'mediumDate'}}</td>
                    <td>{{stage.sEtaConv}}</td>
                    <td>{{stage.sSoutenance}}</td>
                    <td>{{stage.sRapport}}</td>
                    <td>{{stage.sOperat}}</td>
                    <td>{{stage.sDateMaj | date:'mediumDate'}}</td>
                    <td>{{stage.sMaj}}</td>
                    <td>
                        <a ui-sref="partenaire-detail({id:stage.pIdent.id})">{{stage.pIdent.pNompart}}</a>
                    </td>
                    <td>
                        <a ui-sref="enseignant-detail({id:stage.enIdent.id})">{{stage.enIdent.enSesame}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact-detail({id:stage.numSeqEnc.id})">{{stage.numSeqEnc.cNom}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact-detail({id:stage.numSeqResp.id})">{{stage.numSeqResp.cNom}}</a>
                    </td>
                    <td>
                        <a ui-sref="etudiant-detail({id:stage.aIdent.id})">{{stage.aIdent.aNomUsuel}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="stage-detail({id:stage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stage.edit({id:stage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stage.delete({id:stage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
