
<div>
    <h2><span>Stage</span> {{vm.stage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Numero Sequence</span></dt>
        <dd>
            <span>{{vm.stage.sNumSeq}}</span>
        </dd>
        <dt><span>Service</span></dt>
        <dd>
            <span>{{vm.stage.sService}}</span>
        </dd>
        <dt><span>Date de début</span></dt>
        <dd>
            <span>{{vm.stage.sDateDebut | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Date de fin</span></dt>
        <dd>
            <span>{{vm.stage.sDateFin | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Sujet</span></dt>
        <dd>
            <span>{{vm.stage.sSujet}}</span>
        </dd>
        <dt><span>Langages</span></dt>
        <dd>
            <span>{{vm.stage.sLang}}</span>
        </dd>
        <dt><span>Materiel</span></dt>
        <dd>
            <span>{{vm.stage.sMateriel}}</span>
        </dd>
        <dt><span>Mots Cles</span></dt>
        <dd>
            <span>{{vm.stage.mMotsCles}}</span>
        </dd>
        <dt><span>Details</span></dt>
        <dd>
            <span>{{vm.stage.sDetails}}</span>
        </dd>
        <dt><span>Jours Duree Travail</span></dt>
        <dd>
            <span>{{vm.stage.sJoursDureeTravail}}</span>
        </dd>
        <dt><span>Indp</span></dt>
        <dd>
            <span>{{vm.stage.sIndp}}</span>
        </dd>
        <dt><span>Versement</span></dt>
        <dd>
            <span>{{vm.stage.sVersement}}</span>
        </dd>
        <dt><span>Avantages Nature</span></dt>
        <dd>
            <span>{{vm.stage.sAvantagesNature}}</span>
        </dd>
        <dt><span>Mode Suivi</span></dt>
        <dd>
            <span>{{vm.stage.sModeSuiv}}</span>
        </dd>
        <dt><span>Appreciation</span></dt>
        <dd>
            <span>{{vm.stage.sAppreciation}}</span>
        </dd>
        <dt><span>Date Convention</span></dt>
        <dd>
            <span>{{vm.stage.sDateConv | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Etat Convention</span></dt>
        <dd>
            <span>{{vm.stage.sEtaConv}}</span>
        </dd>
        <dt><span>Soutenance</span></dt>
        <dd>
            <span>{{vm.stage.sSoutenance}}</span>
        </dd>
        <dt><span>Rapport</span></dt>
        <dd>
            <span>{{vm.stage.sRapport}}</span>
        </dd>
        <dt><span>Operation</span></dt>
        <dd>
            <span>{{vm.stage.sOperat}}</span>
        </dd>
        <dt><span>Date Maj</span></dt>
        <dd>
            <span>{{vm.stage.sDateMaj | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Maj</span></dt>
        <dd>
            <span>{{vm.stage.sMaj}}</span>
        </dd>
        <dt><span>Partenaire</span></dt>
        <dd>
            <a ui-sref="partenaire-detail({id:vm.stage.pIdent.id})">{{vm.stage.pIdent.pNompart}}</a>
        </dd>
        <dt><span>Enseignant</span></dt>
        <dd>
            <a ui-sref="enseignant-detail({id:vm.stage.enIdent.id})">{{vm.stage.enIdent.enSesame}}</a>
        </dd>
        <dt><span>Identifiant Tuteur</span></dt>
        <dd>
            <a ui-sref="contact-detail({id:vm.stage.numSeqEnc.id})">{{vm.stage.numSeqEnc.cNom}}</a>
        </dd>
        <dt><span>Identifiant Responsable</span></dt>
        <dd>
            <a ui-sref="contact-detail({id:vm.stage.numSeqResp.id})">{{vm.stage.numSeqResp.cNom}}</a>
        </dd>
        <dt><span>Etudiant</span></dt>
        <dd>
            <a ui-sref="etudiant-detail({id:vm.stage.aIdent.id})">{{vm.stage.aIdent.aNomUsuel}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="stage-detail.edit({id:vm.stage.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
