<div>
    <h2>Etudiants</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="etudiant.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Etudiant
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>N° étudiant</span></th>
                    <th><span>Sexe</span></th>
                    <th><span>Nom Patronymique</span></th>
                    <th><span>Nom Usuel</span></th>
                    <th><span>Prenoms</span></th>
                    <th><span>Prenom 2</span></th>
                    <th><span>Adresse</span></th>
                    <th><span>Cplt adresse</span></th>
                    <th><span>Ville</span></th>
                    <th><span>N° dép</span></th>
                    <th><span>Tel Perso</span></th>
                    <th><span>Tel Mob</span></th>
                    <th><span>An Tel Dir</span></th>
                    <th><span>Email</span></th>
                    <th><span>Email étudiant</span></th>
                    <th><span>Et Dip Orig</span></th>
                    <th><span>Premiere Inscription</span></th>
                    <th><span>Et Td</span></th>
                    <th><span>Et Tp</span></th>
                    <th><span>Et Autre</span></th>
                    <th><span>Et Dispense Stage</span></th>
                    <th><span>An Etat</span></th>
                    <th><span>An Rech Emp</span></th>
                    <th><span>Operat</span></th>
                    <th><span>Date Maj</span></th>
                    <th><span>Maj</span></th>
                    <th><span>An Premier Emploi</span></th>
                    <th><span>An Derniere Situation</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="etudiant in vm.etudiants track by etudiant.id">
                    <td><a ui-sref="etudiant-detail({id:etudiant.id})">{{etudiant.id}}</a></td>
                    <td>{{etudiant.aNumSeq}}</td>
                    <td>{{etudiant.aSexe}}</td>
                    <td>{{etudiant.aNomPatronymique}}</td>
                    <td>{{etudiant.aNomUsuel}}</td>
                    <td>{{etudiant.aPrenoms}}</td>
                    <td>{{etudiant.aPrenom2}}</td>
                    <td>{{etudiant.aRue}}</td>
                    <td>{{etudiant.aCpltRue}}</td>
                    <td>{{etudiant.aVille}}</td>
                    <td>{{etudiant.aCodep}}</td>
                    <td>{{etudiant.aTelPerso}}</td>
                    <td>{{etudiant.aTelMob}}</td>
                    <td>{{etudiant.anTelDir}}</td>
                    <td>{{etudiant.aAdElec}}</td>
                    <td>{{etudiant.etAdElec}}</td>
                    <td>{{etudiant.etDipOrig}}</td>
                    <td>{{etudiant.aPremiereInscription}}</td>
                    <td>{{etudiant.etTd}}</td>
                    <td>{{etudiant.etTp}}</td>
                    <td>{{etudiant.etAutre}}</td>
                    <td>{{etudiant.etDispenseStage}}</td>
                    <td>{{etudiant.anEtat}}</td>
                    <td>{{etudiant.anRechEmp}}</td>
                    <td>{{etudiant.aOperat}}</td>
                    <td>{{etudiant.aDateMaj | date:'mediumDate'}}</td>
                    <td>{{etudiant.aMaj}}</td>
                    <td>
                        <a ui-sref="enquete-detail({id:etudiant.anPremierEmploi.id})">{{etudiant.anPremierEmploi.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="enquete-detail({id:etudiant.anDerniereSituation.id})">{{etudiant.anDerniereSituation.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="etudiant-detail({id:etudiant.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="etudiant.edit({id:etudiant.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="etudiant.delete({id:etudiant.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
