
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEtudiantLabel">Create or edit a Etudiant</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.etudiant.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.etudiant.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_login">N° étudiant</label>
            <input type="text" class="form-control" name="login" id="field_login"
                    ng-model="vm.etudiant.user.login"
                    required />
            <div ng-show="editForm.login.$invalid">
                <p class="help-block"
                    ng-show="editForm.login.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aSexe">Sexe</label><br/>
            <div class="radio-inline">
			  	<input type="radio" name="aSexe" id="field_aSexe" ng-model="vm.etudiant.aSexe" value="H" checked> Homme
			</div>
            <div class="radio-inline">
			  	<input type="radio" name="aSexe" id="field_aSexe" ng-model="vm.etudiant.aSexe" value="F"> Femme
			</div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aNomPatronymique">Nom Patronymique</label>
            <input type="text" class="form-control" name="aNomPatronymique" id="field_aNomPatronymique"
                    ng-model="vm.etudiant.aNomPatronymique"
                    required />
            <div ng-show="editForm.aNomPatronymique.$invalid">
                <p class="help-block"
                    ng-show="editForm.aNomPatronymique.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aNomUsuel">Nom Usuel</label>
            <input type="text" class="form-control" name="aNomUsuel" id="field_aNomUsuel"
                    ng-model="vm.etudiant.aNomUsuel"
                    required />
            <div ng-show="editForm.aNomUsuel.$invalid">
                <p class="help-block"
                    ng-show="editForm.aNomUsuel.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aPrenoms">Prenom</label>
            <input type="text" class="form-control" name="aPrenoms" id="field_aPrenoms"
                    ng-model="vm.etudiant.aPrenoms"
                    required />
            <div ng-show="editForm.aPrenoms.$invalid">
                <p class="help-block"
                    ng-show="editForm.aPrenoms.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.aPrenoms.$error.maxlength"
                  >
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aPrenom2">Prenom 2</label>
            <input type="text" class="form-control" name="aPrenom2" id="field_aPrenom2"
                    ng-model="vm.etudiant.aPrenom2"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aRue">Adresse</label>
            <input type="text" class="form-control" name="aRue" id="field_aRue"
                    ng-model="vm.etudiant.aRue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aCpltRue">Complément d'adresse</label>
            <input type="text" class="form-control" name="aCpltRue" id="field_aCpltRue"
                    ng-model="vm.etudiant.aCpltRue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aVille">Ville</label>
            <input type="text" class="form-control" name="aVille" id="field_aVille"
                    ng-model="vm.etudiant.aVille"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aCodep">N° dép</label>
            <input type="text" class="form-control" name="aCodep" id="field_aCodep"
                    ng-model="vm.etudiant.aCodep"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aTelPerso">Tel Perso</label>
            <input type="text" class="form-control" name="aTelPerso" id="field_aTelPerso"
                    ng-model="vm.etudiant.aTelPerso"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aTelMob">Tel Mob</label>
            <input type="text" class="form-control" name="aTelMob" id="field_aTelMob"
                    ng-model="vm.etudiant.aTelMob"
                     />
        </div>
        
        <div class="form-group">
            <label class="control-label" for="field_aAdElec">Email</label>
            <input type="email" class="form-control" name="aAdElec" id="field_aAdElec"
                   ng-model="vm.etudiant.aAdElec" required ng-maxlength="100">

            <div ng-show="editForm.aAdElec.$invalid">
                <p class="help-block"
                   ng-show="editForm.aAdElec.$error.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.aAdElec.$error.maxlength"
                  >
                    This field cannot be longer than 100 characters.
                </p>
				<p class="help-block"
                   ng-show="editForm.aAdElec.$error.aAdElec">
                    Your e-mail is invalid.
                 </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_etAdElec">Email étudiant</label>
            <input type="email" class="form-control" name="etAdElec" id="field_etAdElec"
                   ng-model="vm.etudiant.etAdElec" required ng-maxlength="100">

            <div ng-show="editForm.etAdElec.$invalid">
                <p class="help-block"
                   ng-show="editForm.etAdElec.$error.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.etAdElec.$error.maxlength"
                  >
                    This field cannot be longer than 100 characters.
                </p>
				<p class="help-block"
                   ng-show="editForm.etAdElec.$error.etAdElec">
                    Your e-mail is invalid.
                 </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_etDiplome">Diplome</label>
            <select class="form-control" id="field_etDiplome" name="etDiplome" ng-model="vm.etudiant.etDiplome" ng-options="diplome as diplome.diLibelle for diplome in vm.diplome | orderBy:'id' track by diplome.id" required>
                <option value=""></option>
            </select>
            <div ng-show="editForm.etDiplome.$invalid">
                <p class="help-block"
                   ng-show="editForm.etDiplome.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <!-- User informations -->

        <!-- Login user = N° étudiant -->

        <!-- First name = aPrenoms -->

        <!-- Last name = Nom usuel -->

        <div class="form-group">
            <label for="activated">
                <input ng-disabled="vm.user.id === null" type="checkbox" id="activated" name="activated" ng-model="vm.etudiant.user.activated">
                <span>Activated</span>
            </label>
        </div>

        <!-- End user informations -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
