
<div>
    <h2><span>Etudiant</span> {{vm.etudiant.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>N° étudiant</span></dt>
        <dd>
            <span>{{vm.etudiant.aNumSeq}}</span>
        </dd>
        <dt><span>Sexe</span></dt>
        <dd>
            <span>{{vm.etudiant.aSexe}}</span>
        </dd>
        <dt><span>Nom Patronymique</span></dt>
        <dd>
            <span>{{vm.etudiant.aNomPatronymique}}</span>
        </dd>
        <dt><span>Nom Usuel</span></dt>
        <dd>
            <span>{{vm.etudiant.aNomUsuel}}</span>
        </dd>
        <dt><span>Prenoms</span></dt>
        <dd>
            <span>{{vm.etudiant.aPrenoms}}</span>
        </dd>
        <dt><span>Prenom 2</span></dt>
        <dd>
            <span>{{vm.etudiant.aPrenom2}}</span>
        </dd>
        <dt><span>Adresse</span></dt>
        <dd>
            <span>{{vm.etudiant.aRue}}</span>
        </dd>
        <dt><span>Complément d'adresse</span></dt>
        <dd>
            <span>{{vm.etudiant.aCpltRue}}</span>
        </dd>
        <dt><span>Ville</span></dt>
        <dd>
            <span>{{vm.etudiant.aVille}}</span>
        </dd>
        <dt><span>N° département</span></dt>
        <dd>
            <span>{{vm.etudiant.aCodep}}</span>
        </dd>
        <dt><span>Tel Perso</span></dt>
        <dd>
            <span>{{vm.etudiant.aTelPerso}}</span>
        </dd>
        <dt><span>Tel Mob</span></dt>
        <dd>
            <span>{{vm.etudiant.aTelMob}}</span>
        </dd>
        <dt><span>Tel Dir</span></dt>
        <dd>
            <span>{{vm.etudiant.anTelDir}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{vm.etudiant.aAdElec}}</span>
        </dd>
        <dt><span>Email étudiant</span></dt>
        <dd>
            <span>{{vm.etudiant.etAdElec}}</span>
        </dd>
        <dt><span>Et Dip Orig</span></dt>
        <dd>
            <span>{{vm.etudiant.etDipOrig}}</span>
        </dd>
        <dt><span>A Premiere Inscription</span></dt>
        <dd>
            <span>{{vm.etudiant.aPremiereInscription}}</span>
        </dd>
        <dt><span>Et Td</span></dt>
        <dd>
            <span>{{vm.etudiant.etTd}}</span>
        </dd>
        <dt><span>Et Tp</span></dt>
        <dd>
            <span>{{vm.etudiant.etTp}}</span>
        </dd>
        <dt><span>Et Autre</span></dt>
        <dd>
            <span>{{vm.etudiant.etAutre}}</span>
        </dd>
        <dt><span>Et Dispense Stage</span></dt>
        <dd>
            <span>{{vm.etudiant.etDispenseStage}}</span>
        </dd>
        <dt><span>An Etat</span></dt>
        <dd>
            <span>{{vm.etudiant.anEtat}}</span>
        </dd>
        <dt><span>An Rech Emp</span></dt>
        <dd>
            <span>{{vm.etudiant.anRechEmp}}</span>
        </dd>
        <dt><span>Operat</span></dt>
        <dd>
            <span>{{vm.etudiant.aOperat}}</span>
        </dd>
        <dt><span>Date Maj</span></dt>
        <dd>
            <span>{{vm.etudiant.aDateMaj | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Auteur MAJ</span></dt>
        <dd>
            <span>{{vm.etudiant.aMaj}}</span>
        </dd>
        <dt><span>An Premier Emploi</span></dt>
        <dd>
            <a ui-sref="enquete-detail({id:vm.etudiant.anPremierEmploi.id})">{{vm.etudiant.anPremierEmploi.id}}</a>
        </dd>
        <dt><span>An Derniere Situation</span></dt>
        <dd>
            <a ui-sref="enquete-detail({id:vm.etudiant.anDerniereSituation.id})">{{vm.etudiant.anDerniereSituation.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="etudiant-detail.edit({id:vm.etudiant.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
