<form name="signForm" ng-submit="vm.confirmSign(vm.stage.id)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title">Confirm sign operation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p>Are you sure you want to set this Stage convention as signed ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="signForm.$invalid" class="btn btn-success">
            <span class="glyphicon glyphicon-ok-sign"></span>&nbsp;<span>Sign</span>
        </button>
    </div>
</form>
