
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStageLabel">Create or edit a Stage</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.stage.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.stage.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sService">Service</label>
            <input type="text" class="form-control" name="sService" id="field_sService"
                    ng-model="vm.stage.sService"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sDateDebut">Date de début</label>
                <div class="input-group">
                    <input id="field_sDateDebut" type="text" class="form-control" name="sDateDebut" uib-datepicker-popup="{{dateformat}}" ng-model="vm.stage.sDateDebut" is-open="vm.datePickerOpenStatus.sDateDebut"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('sDateDebut')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.sDateDebut.$invalid">
                <p class="help-block"
                    ng-show="editForm.sDateDebut.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sDateFin">Date de fin</label>
                <div class="input-group">
                    <input id="field_sDateFin" type="text" class="form-control" name="sDateFin" uib-datepicker-popup="{{dateformat}}" ng-model="vm.stage.sDateFin" is-open="vm.datePickerOpenStatus.sDateFin"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('sDateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.sDateFin.$invalid">
                <p class="help-block"
                    ng-show="editForm.sDateFin.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sSujet">Sujet</label>
            <input type="text" class="form-control" name="sSujet" id="field_sSujet"
                    ng-model="vm.stage.sSujet"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sLang">Langages</label>
            <input type="text" class="form-control" name="sLang" id="field_sLang"
                    ng-model="vm.stage.sLang"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sMateriel">Materiel</label>
            <input type="text" class="form-control" name="sMateriel" id="field_sMateriel"
                    ng-model="vm.stage.sMateriel"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_mMotsCles">Mots Cles</label>
            <input type="text" class="form-control" name="mMotsCles" id="field_mMotsCles"
                    ng-model="vm.stage.mMotsCles"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sDetails">Details</label>
            <input type="text" class="form-control" name="sDetails" id="field_sDetails"
                    ng-model="vm.stage.sDetails"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sJoursDureeTravail">Jours Duree Travail</label>
            <input type="text" class="form-control" name="sJoursDureeTravail" id="field_sJoursDureeTravail"
                    ng-model="vm.stage.sJoursDureeTravail"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sIndp">Indp</label>
            <input type="text" class="form-control" name="sIndp" id="field_sIndp"
                    ng-model="vm.stage.sIndp"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sVersement">Versement</label>
            <input type="text" class="form-control" name="sVersement" id="field_sVersement"
                    ng-model="vm.stage.sVersement"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sAvantagesNature">Avantages Nature</label>
            <input type="text" class="form-control" name="sAvantagesNature" id="field_sAvantagesNature"
                    ng-model="vm.stage.sAvantagesNature"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sModeSuiv">Mode Suivi</label>
            <input type="text" class="form-control" name="sModeSuiv" id="field_sModeSuiv"
                    ng-model="vm.stage.sModeSuiv"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sAppreciation">Appreciation</label>
            <input type="text" class="form-control" name="sAppreciation" id="field_sAppreciation"
                    ng-model="vm.stage.sAppreciation"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sDateConv">Date Convention</label>
            <input type="text" class="form-control" name="sDateConv" id="field_sDateConv"
                    ng-model="vm.stage.sDateConv"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sEtaConv">Etat Convention</label>
            <input type="text" class="form-control" name="sEtaConv" id="field_sEtaConv"
                    ng-model="vm.stage.sEtaConv"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sSoutenance">Soutenance</label>
            <input type="text" class="form-control" name="sSoutenance" id="field_sSoutenance"
                    ng-model="vm.stage.sSoutenance"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sRapport">Rapport</label>
            <input type="text" class="form-control" name="sRapport" id="field_sRapport"
                    ng-model="vm.stage.sRapport"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sOperat">Operation</label>
            <input type="text" class="form-control" name="sOperat" id="field_sOperat"
                    ng-model="vm.stage.sOperat"
                     />
        </div>

        <div class="form-group">
            <label for="field_pIdent">Partenaire</label>
            <select class="form-control" id="field_pIdent" name="pIdent" ng-model="vm.stage.pIdent" ng-options="partenaire as partenaire.pNompart for partenaire in vm.pidents | orderBy:'id' track by partenaire.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_enIdent">Enseignant</label>
            <select class="form-control" id="field_enIdent" name="enIdent" ng-model="vm.stage.enIdent" ng-options="enseignant as enseignant.enSesame for enseignant in vm.enidents | orderBy:'id' track by enseignant.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_numSeqEnc">Identifiant Tuteur</label>
            <select class="form-control" id="field_numSeqEnc" name="numSeqEnc" ng-model="vm.stage.numSeqEnc" ng-options="contact as contact.cNom for contact in vm.numseqencs | orderBy:'id' track by contact.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_numSeqResp">Identifiant Responsable</label>
            <select class="form-control" id="field_numSeqResp" name="numSeqResp" ng-model="vm.stage.numSeqResp" ng-options="contact as contact.cNom for contact in vm.numseqresps | orderBy:'id' track by contact.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
