<div>
    <h2>Mode Obtentions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="mode-obtention.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Mode Obtention
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Obt Ordre</span></th>
                    <th><span>Obt Lib C</span></th>
                    <th><span>Obt Description</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="modeObtention in vm.modeObtentions track by modeObtention.id">
                    <td><a ui-sref="mode-obtention-detail({id:modeObtention.id})">{{modeObtention.id}}</a></td>
                    <td>{{modeObtention.obtOrdre}}</td>
                    <td>{{modeObtention.obtLibC}}</td>
                    <td>{{modeObtention.obtDescription}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="mode-obtention-detail({id:modeObtention.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="mode-obtention.edit({id:modeObtention.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="mode-obtention.delete({id:modeObtention.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
