
<div>
    <h2><span>Mode Obtention</span> {{vm.modeObtention.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Obt Ordre</span></dt>
        <dd>
            <span>{{vm.modeObtention.obtOrdre}}</span>
        </dd>
        <dt><span>Obt Lib C</span></dt>
        <dd>
            <span>{{vm.modeObtention.obtLibC}}</span>
        </dd>
        <dt><span>Obt Description</span></dt>
        <dd>
            <span>{{vm.modeObtention.obtDescription}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="mode-obtention-detail.edit({id:vm.modeObtention.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
