
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myModeObtentionLabel">Create or edit a Mode Obtention</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.modeObtention.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.modeObtention.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_obtOrdre">Obt Ordre</label>
            <input type="text" class="form-control" name="obtOrdre" id="field_obtOrdre"
                    ng-model="vm.modeObtention.obtOrdre"
                    required />
            <div ng-show="editForm.obtOrdre.$invalid">
                <p class="help-block"
                    ng-show="editForm.obtOrdre.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_obtLibC">Obt Lib C</label>
            <input type="text" class="form-control" name="obtLibC" id="field_obtLibC"
                    ng-model="vm.modeObtention.obtLibC"
                    required />
            <div ng-show="editForm.obtLibC.$invalid">
                <p class="help-block"
                    ng-show="editForm.obtLibC.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_obtDescription">Obt Description</label>
            <input type="text" class="form-control" name="obtDescription" id="field_obtDescription"
                    ng-model="vm.modeObtention.obtDescription"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
