<div>
    <h2>Stages</h2>
    <jhi-alert></jhi-alert>
    <div class="container">
        <div class="row">
          <uib-accordion class="col-md-8">
            <div uib-accordion-group class="panel-info" is-open="status.open">
              <uib-accordion-heading ng-click="status.open = !status.open">
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                Filtrer la liste des stages
              </uib-accordion-heading>
              <!-- Zone de filtre !-->
              <form>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">Sujet</div>
                    <input type="text" class="form-control" ng-model="vm.filter.sSujet"/>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">Partenaire</div>
                    <input type="text" class="form-control" ng-model="vm.filter.pIdent.pNompart"/>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">Service</div>
                    <input type="text" class="form-control" ng-model="vm.filter.pIdent.pService"/>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">Etat Convention</div>
                    <select class="form-control" id="field_sEtaConv" name="sEtaConv" ng-model="vm.filter.scIdent.libelle">
                        <option value=""></option>
                        <option value="Editée">Editée</option>
                        <option value="Validée">Validée</option>
                        <option value="Enregistrée">Enregistrée</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">Entre le </div>
                        <input type="date" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="vm.date.sDateDebut" is-open="vm.datePickerOpenStatus.sDateDebut"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('sDateDebut')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">Et le </div>
                        <input type="date" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="vm.date.sDateFin" is-open="vm.datePickerOpenStatus.sDateFin"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('sDateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
              </form>
            </div>
          </uib-accordion>
        </div>

        <button type="button" class="btn btn-default" ng-controller="ExportCsvController" ng-click="exportData('etudiant-stages', filteredStages | csvEtudiantStage)">
          <i class="glyphicon glyphicon-download"></i>
          Exporter au format CSV
        </button>
    </div>

    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="internship.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new internship
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th ng-click="sortType = 'id'; sortReverse = !sortReverse">
                      <span>ID </span>
                      <span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                      <span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th ng-click="sortType = 'sSujet'; sortReverse = !sortReverse">
                      <span>Sujet </span>
                      <span ng-show="sortType == 'sSujet' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                      <span ng-show="sortType == 'sSujet' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th ng-click="sortType = 'pNompart'; sortReverse = !sortReverse">
                      <span>Partenaire </span>
                      <span ng-show="sortType == 'pNompart' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                      <span ng-show="sortType == 'pNompart' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th ng-click="sortType = 'sService'; sortReverse = !sortReverse">
                      <span>Service </span>
                      <span ng-show="sortType == 'sService' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                      <span ng-show="sortType == 'sService' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th ng-click="sortType = 'sDateDebut'; sortReverse = !sortReverse">
                      <span>Date de début </span>
                      <span ng-show="sortType == 'sDateDebut' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                      <span ng-show="sortType == 'sDateDebut' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th ng-click="sortType = 'sDateFin'; sortReverse = !sortReverse">
                      <span>Date de fin </span>
                      <span ng-show="sortType == 'sDateFin' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                      <span ng-show="sortType == 'sDateFin' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th ng-click="sortType = 'scIdent.libelle'; sortReverse = !sortReverse">
                      <span>Etat de la convention </span>
                      <span ng-show="sortType == 'scIdent.libelle' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                      <span ng-show="sortType == 'scIdent.libelle' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th><span>Date Maj</span></th>
                    <th><span>Maj</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stage in (filteredStages = (vm.stages | orderBy:sortType:sortReverse | filter:vm.filter | dateRange:(vm.date.sDateDebut | date:'yyyy-MM-dd'):(vm.date.sDateFin | date:'yyyy-MM-dd')))">
                    <td><a ui-sref="internship-detail({id:stage.id})">{{stage.id}}</a></td>
                    <td>{{stage.sSujet}}</td>
                    <td>{{stage.pIdent.pNompart}}</td>
                    <td>{{stage.pIdent.pService}}</td>
                    <td>{{stage.sDateDebut | date:'dd/MM/yyyy'}}</td>
                    <td>{{stage.sDateFin | date:'dd/MM/yyyy'}}</td>
                    <td>
                      <span class="label"
                            ng-class="{'label-danger':stage.scIdent.id === 1,
                                       'label-warning':stage.scIdent.id === 2,
                                       'label-info':stage.scIdent.id === 3,
                                       'label-success':stage.scIdent.id === 4
                                     }">
                        {{stage.scIdent.libelle}}
                      </span>
                    </td>
                    <td>{{stage.sDateMaj | date:'dd/MM/yyyy'}}</td>
                    <td>{{stage.sMaj}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="internship-detail({id:stage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="internship.edit({id:stage.id})"
                                    class="btn btn-primary btn-sm"
                                    ng-show="stage.scIdent.id === 1">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="internship.delete({id:stage.id})"
                                    class="btn btn-danger btn-sm"
                                    ng-show="stage.scIdent.id === 1">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
