
<div>
    <h2><span>Situation</span> {{vm.situation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Sit Ordre</span></dt>
        <dd>
            <span>{{vm.situation.sitOrdre}}</span>
        </dd>
        <dt><span>Sit Lib C</span></dt>
        <dd>
            <span>{{vm.situation.sitLibC}}</span>
        </dd>
        <dt><span>Sit Description</span></dt>
        <dd>
            <span>{{vm.situation.sitDescription}}</span>
        </dd>
        <dt><span>Sit Emploi</span></dt>
        <dd>
            <span>{{vm.situation.sitEmploi}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="situation-detail.edit({id:vm.situation.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
