
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySituationLabel">Create or edit a Situation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.situation.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.situation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sitOrdre">Ordre</label>
            <input type="text" class="form-control" name="sitOrdre" id="field_sitOrdre"
                    ng-model="vm.situation.sitOrdre"
                    required />
            <div ng-show="editForm.sitOrdre.$invalid">
                <p class="help-block"
                    ng-show="editForm.sitOrdre.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sitLibC">Lib C</label>
            <input type="text" class="form-control" name="sitLibC" id="field_sitLibC"
                    ng-model="vm.situation.sitLibC"
                    required />
            <div ng-show="editForm.sitLibC.$invalid">
                <p class="help-block"
                    ng-show="editForm.sitLibC.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sitDescription">Description</label>
            <input type="text" class="form-control" name="sitDescription" id="field_sitDescription"
                    ng-model="vm.situation.sitDescription"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sitEmploi">Emploi</label>
            <input type="text" class="form-control" name="sitEmploi" id="field_sitEmploi"
                    ng-model="vm.situation.sitEmploi"
                    required />
            <div ng-show="editForm.sitEmploi.$invalid">
                <p class="help-block"
                    ng-show="editForm.sitEmploi.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
