<div>
    <h2>Situations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="situation.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Situation
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Ordre</span></th>
                    <th><span>Lib C</span></th>
                    <th><span>Description</span></th>
                    <th><span>Emploi</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="situation in vm.situations track by situation.id">
                    <td><a ui-sref="situation-detail({id:situation.id})">{{situation.id}}</a></td>
                    <td>{{situation.sitOrdre}}</td>
                    <td>{{situation.sitLibC}}</td>
                    <td>{{situation.sitDescription}}</td>
                    <td>{{situation.sitEmploi}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="situation-detail({id:situation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="situation.edit({id:situation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="situation.delete({id:situation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
