<div>
    <h2>Filieres</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="filiere.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Filiere
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Libelle</span></th>
                    <th><span>Enseignant</span></th>
                    <th><span>S Valideur</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="filiere in vm.filieres track by filiere.id">
                    <td><a ui-sref="filiere-detail({id:filiere.id})">{{filiere.id}}</a></td>
                    <td>{{filiere.fiLibelle}}</td>
                    <td>
                        <a ui-sref="enseignant-detail({id:filiere.enIdent.id})">{{filiere.enIdent.enNom}} {{filiere.enIdent.enPrenom}}</a>
                    </td>
                    <td>
                        <a ui-sref="enseignant-detail({id:filiere.sValideur.id})">{{filiere.sValideur.enNom}} {{filiere.sValideur.enPrenom}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="filiere-detail({id:filiere.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="filiere.edit({id:filiere.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="filiere.delete({id:filiere.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
