
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFiliereLabel">Create or edit a Filiere</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.filiere.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.filiere.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fiLibelle">Fi Libelle</label>
            <input type="text" class="form-control" name="fiLibelle" id="field_fiLibelle"
                    ng-model="vm.filiere.fiLibelle"
                    required />
            <div ng-show="editForm.fiLibelle.$invalid">
                <p class="help-block"
                    ng-show="editForm.fiLibelle.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_enIdent">Enseignant</label>
            <select class="form-control" id="field_enIdent" name="enIdent" ng-model="vm.filiere.enIdent" ng-options="enseignant as enseignant.enNom + ' ' + enseignant.enPrenom for enseignant in vm.enidents | orderBy:['enNom', 'enPrenom'] track by enseignant.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_sValideur">S Valideur</label>
            <select class="form-control" id="field_sValideur" name="sValideur" ng-model="vm.filiere.sValideur" ng-options="enseignant as enseignant.enNom + ' ' + enseignant.enPrenom for enseignant in vm.svalideurs | orderBy:['enNom', 'enPrenom'] track by enseignant.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
