
<div>
    <h2><span>Filiere</span> {{vm.filiere.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Fi Libelle</span></dt>
        <dd>
            <span>{{vm.filiere.fiLibelle}}</span>
        </dd>
        <dt><span>Enseignant</span></dt>
        <dd>
            <a ui-sref="enseignant-detail({id:vm.filiere.enIdent.id})">{{vm.filiere.enIdent.enNom}} {{vm.filiere.enIdent.enPrenom}}</a>
        </dd>
        <dt><span>S Valideur</span></dt>
        <dd>
            <a ui-sref="enseignant-detail({id:vm.filiere.sValideur.id})">{{vm.filiere.sValideur.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="filiere-detail.edit({id:vm.filiere.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
