
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEnqueteLabel">Create or edit a Enquete</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.enquete.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.enquete.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_modeEnquete">Mode Enquete</label>
            <input type="text" class="form-control" name="modeEnquete" id="field_modeEnquete"
                    ng-model="vm.enquete.modeEnquete"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateEnquete">Date enquete</label>
            <div class="input-group">
                <input type="text" class="form-control" name="dateEnquete" id="field_dateEnquete"
                        ng-model="vm.enquete.dateEnquete" uib-datepicker-popup="{{dateformat}}" is-open="vm.datePickerOpenStatus.dateEnquete"
                         required/>
                <span class="input-group-btn">
                   <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateEnquete')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
            <div ng-show="editForm.dateEnquete.$invalid">
               <p class="help-block"
                   ng-show="editForm.dateEnquete.$error.required">
                   This field is required.
               </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aNomUsuel">Nom usuel</label>
            <input type="text" class="form-control" name="aNomUsuel" id="field_aNomUsuel"
                    ng-model="vm.enquete.aNomUsuel"
                     required/>
            <div ng-show="editForm.aNomUsuel.$invalid">
              <p class="help-block"
                  ng-show="editForm.aNomUsuel.$error.required">
                  This field is required.
              </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aRue">Adresse</label>
            <input type="text" class="form-control" name="aRue" id="field_aRue"
                    ng-model="vm.enquete.aRue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aCpltRue">Complément d'adresse</label>
            <input type="text" class="form-control" name="aCpltRue" id="field_aCpltRue"
                    ng-model="vm.enquete.aCpltRue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aVille">Ville</label>
            <input type="text" class="form-control" name="aVille" id="field_aVille"
                    ng-model="vm.enquete.aVille"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aCodeDep">N° Département</label>
            <input type="text" class="form-control" name="aCodeDep" id="field_aCodeDep"
                    ng-model="vm.enquete.aCodeDep"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enqDomact">Domaine d'action</label>
            <input type="text" class="form-control" name="enqDomact" id="field_enqDomact"
                    ng-model="vm.enquete.enqDomact"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enqDateDebut">Date de début</label>
            <input type="text" class="form-control" name="enqDateDebut" id="field_enqDateDebut"
                    ng-model="vm.enquete.enqDateDebut"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enqDureeRecherche">Duree recherche</label>
            <input type="text" class="form-control" name="enqDureeRecherche" id="field_enqDureeRecherche"
                    ng-model="vm.enquete.enqDureeRecherche"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enq1ErAvantDispo">Enq 1 Er Avant Dispo</label>
            <input type="text" class="form-control" name="enq1ErAvantDispo" id="field_enq1ErAvantDispo"
                    ng-model="vm.enquete.enq1ErAvantDispo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enqQuotite">Quotite</label>
            <input type="text" class="form-control" name="enqQuotite" id="field_enqQuotite"
                    ng-model="vm.enquete.enqQuotite"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enqRechAutre">Recherche autre</label>
            <input type="text" class="form-control" name="enqRechAutre" id="field_enqRechAutre"
                    ng-model="vm.enquete.enqRechAutre"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enqSalaire">Salaire</label>
            <input type="text" class="form-control" name="enqSalaire" id="field_enqSalaire"
                    ng-model="vm.enquete.enqSalaire"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enqSalaireFixe">Salaire fixe</label>
            <input type="text" class="form-control" name="enqSalaireFixe" id="field_enqSalaireFixe"
                    ng-model="vm.enquete.enqSalaireFixe"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enqSalaireVariable">Salaire variable</label>
            <input type="text" class="form-control" name="enqSalaireVariable" id="field_enqSalaireVariable"
                    ng-model="vm.enquete.enqSalaireVariable"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enqSalairePourcent">Salaire pourcentage</label>
            <input type="text" class="form-control" name="enqSalairePourcent" id="field_enqSalairePourcent"
                    ng-model="vm.enquete.enqSalairePourcent"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enqSalaireAvantage">Salaire avantages</label>
            <input type="text" class="form-control" name="enqSalaireAvantage" id="field_enqSalaireAvantage"
                    ng-model="vm.enquete.enqSalaireAvantage"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_enqSalaireDevise">Salaire devise</label>
            <input type="text" class="form-control" name="enqSalaireDevise" id="field_enqSalaireDevise"
                    ng-model="vm.enquete.enqSalaireDevise"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aOperat">Operation</label>
            <input type="text" class="form-control" name="aOperat" id="field_aOperat"
                    ng-model="vm.enquete.aOperat"
                     />
        </div>

        <div class="form-group">
            <label for="field_enqSituation">Situation</label>
            <select class="form-control" id="field_enqSituation" name="enqSituation" ng-model="vm.enquete.enqSituation" ng-options="situation as situation.sitOrdre for situation in vm.enqsituations | orderBy:'id' track by situation.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_enqModeObtention">Mode Obtention</label>
            <select class="form-control" id="field_enqModeObtention" name="enqModeObtention" ng-model="vm.enquete.enqModeObtention" ng-options="modeObtention as modeObtention.obtOrdre for modeObtention in vm.enqmodeobtentions | orderBy:'id' track by modeObtention.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_pIdent">Partenaire</label>
            <select class="form-control" id="field_pIdent" name="pIdent" ng-model="vm.enquete.pIdent" ng-options="partenaire as partenaire.pNompart for partenaire in vm.partenaires track by partenaire.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_aIdent">Etudiant</label>
            <select class="form-control" id="field_aIdent" name="aIdent" ng-model="vm.enquete.aIdent" ng-options="etudiant as etudiant.aNomUsuel for etudiant in vm.etudiants track by etudiant.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
