<div>
    <h2>Enquetes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="enquete.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Enquete
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Mode enquete</span></th>
                    <th><span>Date enquete</span></th>
                    <th><span>Nom usuel</span></th>
                    <th><span>Adresse</span></th>
                    <th><span>Complément d'adresse</span></th>
                    <th><span>Ville</span></th>
                    <th><span>N° Département</span></th>
                    <th><span>Domaine d'action</span></th>
                    <th><span>Date de début</span></th>
                    <th><span>Duree recherche</span></th>
                    <th><span>Enq 1 Er Avant Dispo</span></th>
                    <th><span>Quotite</span></th>
                    <th><span>Recherche autre</span></th>
                    <th><span>Salaire</span></th>
                    <th><span>Salaire fixe</span></th>
                    <th><span>Salaire variable</span></th>
                    <th><span>Salaire pourcentage</span></th>
                    <th><span>Salaire avantages</span></th>
                    <th><span>Salaire devise</span></th>
                    <th><span>Operation</span></th>
                    <th><span>Situation</span></th>
                    <th><span>Mode Obtention</span></th>
                    <th><span>Partenaire</span></th>
                    <th><span>Etudiant</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="enquete in vm.enquetes track by enquete.id">
                    <td><a ui-sref="enquete-detail({id:enquete.id})">{{enquete.id}}</a></td>
                    <td>{{enquete.modeEnquete}}</td>
                    <td>{{enquete.dateEnquete | date:'mediumDate'}}</td>
                    <td>{{enquete.aNomUsuel}}</td>
                    <td>{{enquete.aRue}}</td>
                    <td>{{enquete.aCpltRue}}</td>
                    <td>{{enquete.aVille}}</td>
                    <td>{{enquete.aCodeDep}}</td>
                    <td>{{enquete.enqDomact}}</td>
                    <td>{{enquete.enqDateDebut}}</td>
                    <td>{{enquete.enqDureeRecherche}}</td>
                    <td>{{enquete.enq1ErAvantDispo}}</td>
                    <td>{{enquete.enqQuotite}}</td>
                    <td>{{enquete.enqRechAutre}}</td>
                    <td>{{enquete.enqSalaire}}</td>
                    <td>{{enquete.enqSalaireFixe}}</td>
                    <td>{{enquete.enqSalaireVariable}}</td>
                    <td>{{enquete.enqSalairePourcent}}</td>
                    <td>{{enquete.enqSalaireAvantage}}</td>
                    <td>{{enquete.enqSalaireDevise}}</td>
                    <td>{{enquete.aOperat}}</td>
                    <td>
                        <a ui-sref="situation-detail({id:enquete.enqSituation.id})">{{enquete.enqSituation.sitOrdre}}</a>
                    </td>
                    <td>
                        <a ui-sref="mode-obtention-detail({id:enquete.enqModeObtention.id})">{{enquete.enqModeObtention.obtOrdre}}</a>
                    </td>
                    <td>
                        <a ui-sref="partenaire-detail({id:enquete.pIdent.id})">{{enquete.pIdent.pNompart}}</a>
                    </td>
                    <td>
                        <a ui-sref="etudiant-detail({id:enquete.aIdent.id})">{{enquete.aIdent.aNomUsuel}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="enquete-detail({id:enquete.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="enquete.edit({id:enquete.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="enquete.delete({id:enquete.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
