
<div>
    <h2><span>Enquete</span> {{vm.enquete.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Mode enquete</span></dt>
        <dd>
            <span>{{vm.enquete.modeEnquete}}</span>
        </dd>
        <dt><span>Date enquete</span></dt>
        <dd>
            <span>{{vm.enquete.dateEnquete | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Nom usuel</span></dt>
        <dd>
            <span>{{vm.enquete.aNomUsuel}}</span>
        </dd>
        <dt><span>Adresse</span></dt>
        <dd>
            <span>{{vm.enquete.aRue}}</span>
        </dd>
        <dt><span>Complément d'adresse</span></dt>
        <dd>
            <span>{{vm.enquete.aCpltRue}}</span>
        </dd>
        <dt><span>Ville</span></dt>
        <dd>
            <span>{{vm.enquete.aVille}}</span>
        </dd>
        <dt><span>N° Département</span></dt>
        <dd>
            <span>{{vm.enquete.aCodeDep}}</span>
        </dd>
        <dt><span>Domaine d'action</span></dt>
        <dd>
            <span>{{vm.enquete.enqDomact}}</span>
        </dd>
        <dt><span>Date de début</span></dt>
        <dd>
            <span>{{vm.enquete.enqDateDebut}}</span>
        </dd>
        <dt><span>Duree recherche</span></dt>
        <dd>
            <span>{{vm.enquete.enqDureeRecherche}}</span>
        </dd>
        <dt><span>Enq 1 Er Avant Dispo</span></dt>
        <dd>
            <span>{{vm.enquete.enq1ErAvantDispo}}</span>
        </dd>
        <dt><span>Quotite</span></dt>
        <dd>
            <span>{{vm.enquete.enqQuotite}}</span>
        </dd>
        <dt><span>Recherche autre</span></dt>
        <dd>
            <span>{{vm.enquete.enqRechAutre}}</span>
        </dd>
        <dt><span>Salaire</span></dt>
        <dd>
            <span>{{vm.enquete.enqSalaire}}</span>
        </dd>
        <dt><span>Salaire fixe</span></dt>
        <dd>
            <span>{{vm.enquete.enqSalaireFixe}}</span>
        </dd>
        <dt><span>Salaire variable</span></dt>
        <dd>
            <span>{{vm.enquete.enqSalaireVariable}}</span>
        </dd>
        <dt><span>Salaire pourcentage</span></dt>
        <dd>
            <span>{{vm.enquete.enqSalairePourcent}}</span>
        </dd>
        <dt><span>Salaire avantages</span></dt>
        <dd>
            <span>{{vm.enquete.enqSalaireAvantage}}</span>
        </dd>
        <dt><span>Salaire devise</span></dt>
        <dd>
            <span>{{vm.enquete.enqSalaireDevise}}</span>
        </dd>
        <dt><span>Operation</span></dt>
        <dd>
            <span>{{vm.enquete.aOperat}}</span>
        </dd>
        <dt><span>Situation</span></dt>
        <dd>
            <a ui-sref="situation-detail({id:vm.enquete.enqSituation.id})">{{vm.enquete.enqSituation.sitOrdre}}</a>
        </dd>
        <dt><span>Mode Obtention</span></dt>
        <dd>
            <a ui-sref="mode-obtention-detail({id:vm.enquete.enqModeObtention.id})">{{vm.enquete.enqModeObtention.obtOrdre}}</a>
        </dd>
        <dt><span>Partenaire</span></dt>
        <dd>
            <a ui-sref="partenaire-detail({id:vm.enquete.pIdent.id})">{{vm.enquete.pIdent.pNompart}}</a>
        </dd>
        <dt><span>Etudiant</span></dt>
        <dd>
            <a ui-sref="etudiant-detail({id:vm.enquete.aIdent.id})">{{vm.enquete.aIdent.aNomUsuel}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="enquete-detail.edit({id:vm.enquete.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
