
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRegionLabel">Create or edit a Region</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.region.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.region.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_rLibelle">Libellé de la région</label>
            <input type="text" class="form-control" name="rLibelle" id="field_rLibelle"
                    ng-model="vm.region.rLibelle"
                     required/>
            <div ng-show="editForm.rLibelle.$invalid">
               <p class="help-block"
                   ng-show="editForm.rLibelle.$error.required">
                   This field is required.
               </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
