
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPartenaireLabel">Create or edit a Partenaire</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.partenaire.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.partenaire.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pNumSeq">Num Seq</label>
            <input type="number" class="form-control" name="pNumSeq" id="field_pNumSeq"
                    ng-model="vm.partenaire.pNumSeq"
                    required />
            <div ng-show="editForm.pNumSeq.$invalid">
                <p class="help-block"
                    ng-show="editForm.pNumSeq.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.pNumSeq.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pSiret">Siret</label>
            <input type="text" class="form-control" name="pSiret" id="field_pSiret"
                    ng-model="vm.partenaire.pSiret"
                    ng-minlength="14" ng-maxlength="14" />
            <div ng-show="editForm.pSiret.$invalid">
                <p class="help-block"
                    ng-show="editForm.pSiret.$error.minlength" translate-value-min="14">
                    This field is required to be at least 14 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.pSiret.$error.maxlength">
                    This field cannot be longer than 14 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pService">Service</label>
            <input type="text" class="form-control" name="pService" id="field_pService"
                    ng-model="vm.partenaire.pService"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pNompart">Nom de l'entreprise</label>
            <input type="text" class="form-control" name="pNompart" id="field_pNompart"
                    ng-model="vm.partenaire.pNompart"
                    required />
            <div ng-show="editForm.pNompart.$invalid">
                <p class="help-block"
                    ng-show="editForm.pNompart.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pRue">Adresse</label>
            <input type="text" class="form-control" name="pRue" id="field_pRue"
                    ng-model="vm.partenaire.pRue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pCpltRue">Complément d'adresse</label>
            <input type="text" class="form-control" name="pCpltRue" id="field_pCpltRue"
                    ng-model="vm.partenaire.pCpltRue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pCodep">N° de département</label>
            <input type="text" class="form-control" name="pCodep" id="field_pCodep"
                    ng-model="vm.partenaire.pCodep"
                    required />
            <div ng-show="editForm.pCodep.$invalid">
                <p class="help-block"
                    ng-show="editForm.pCodep.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pVille">Ville</label>
            <input type="text" class="form-control" name="pVille" id="field_pVille"
                    ng-model="vm.partenaire.pVille"
                    required />
            <div ng-show="editForm.pVille.$invalid">
                <p class="help-block"
                    ng-show="editForm.pVille.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pTelStd">N° de téléphone</label>
            <input type="text" class="form-control" name="pTelStd" id="field_pTelStd"
                    ng-model="vm.partenaire.pTelStd"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pFax">Fax</label>
            <input type="text" class="form-control" name="pFax" id="field_pFax"
                    ng-model="vm.partenaire.pFax"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pUrl">Site Internet</label>
            <input type="text" class="form-control" name="pUrl" id="field_pUrl"
                    ng-model="vm.partenaire.pUrl"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pCommentaire">Commentaire</label>
            <input type="text" class="form-control" name="pCommentaire" id="field_pCommentaire"
                    ng-model="vm.partenaire.pCommentaire"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_eRelation">E Relation</label>
            <input type="text" class="form-control" name="eRelation" id="field_eRelation"
                    ng-model="vm.partenaire.eRelation"
                    required />
            <div ng-show="editForm.eRelation.$invalid">
                <p class="help-block"
                    ng-show="editForm.eRelation.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_eEnvoi">E Envoi</label>
            <input type="text" class="form-control" name="eEnvoi" id="field_eEnvoi"
                    ng-model="vm.partenaire.eEnvoi"
                    required />
            <div ng-show="editForm.eEnvoi.$invalid">
                <p class="help-block"
                    ng-show="editForm.eEnvoi.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ePublicAsso">E Public Asso</label>
            <input type="text" class="form-control" name="ePublicAsso" id="field_ePublicAsso"
                    ng-model="vm.partenaire.ePublicAsso"
                    required />
            <div ng-show="editForm.ePublicAsso.$invalid">
                <p class="help-block"
                    ng-show="editForm.ePublicAsso.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_eTaxePro">E Taxe Pro</label>
            <input type="text" class="form-control" name="eTaxePro" id="field_eTaxePro"
                    ng-model="vm.partenaire.eTaxePro"
                    required />
            <div ng-show="editForm.eTaxePro.$invalid">
                <p class="help-block"
                    ng-show="editForm.eTaxePro.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_eDerProp">E Der Prop</label>
            <input type="text" class="form-control" name="eDerProp" id="field_eDerProp"
                    ng-model="vm.partenaire.eDerProp"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_eDerStage">E Der Stage</label>
            <input type="text" class="form-control" name="eDerStage" id="field_eDerStage"
                    ng-model="vm.partenaire.eDerStage"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_eNomSignataire">E Nom Signataire</label>
            <input type="text" class="form-control" name="eNomSignataire" id="field_eNomSignataire"
                    ng-model="vm.partenaire.eNomSignataire"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_eNbranc">E Nbranc</label>
            <input type="text" class="form-control" name="eNbranc" id="field_eNbranc"
                    ng-model="vm.partenaire.eNbranc"
                    required />
            <div ng-show="editForm.eNbranc.$invalid">
                <p class="help-block"
                    ng-show="editForm.eNbranc.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_eEffectif">E Effectif</label>
            <input type="text" class="form-control" name="eEffectif" id="field_eEffectif"
                    ng-model="vm.partenaire.eEffectif"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pOperat">P Operat</label>
            <input type="text" class="form-control" name="pOperat" id="field_pOperat"
                    ng-model="vm.partenaire.pOperat"
                    required />
            <div ng-show="editForm.pOperat.$invalid">
                <p class="help-block"
                    ng-show="editForm.pOperat.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_pSauvegarde">P Sauvegarde</label>
            <input type="text" class="form-control" name="pSauvegarde" id="field_pSauvegarde"
                    ng-model="vm.partenaire.pSauvegarde"
                     />
        </div>

        <div class="form-group">
            <label for="field_nafCode">Code NAF</label>
            <select class="form-control" id="field_nafCode" name="nafCode" ng-model="vm.partenaire.nafCode" ng-options="naf as naf.nafLibelle for naf in vm.nafcodes | orderBy:'id' track by naf.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_rCodereg">Région</label>
            <select class="form-control" id="field_rCodereg" name="rCodereg" ng-model="vm.partenaire.rCodereg" ng-options="region as region.rLibelle for region in vm.rcoderegs | orderBy:'rLibelle' track by region.id" required>
                <option value=""></option>
            </select>
            <div ng-show="editForm.rCodereg.$invalid"></div>
        </div>
        <div class="form-group">
            <label for="field_taCode">Activité</label>
            <select class="form-control" id="field_taCode" name="taCode" ng-model="vm.partenaire.taCode" ng-options="activite as activite.taLibelle for activite in vm.activites | orderBy:'taLibelle' track by activite.id" required>
                <option value=""></option>
            </select>
            <div ng-show="editForm.taCode.$invalid"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
