
<div>
    <h2><span>Partenaire</span> {{vm.partenaire.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Num Seq</span></dt>
        <dd>
            <span>{{vm.partenaire.pNumSeq}}</span>
        </dd>
        <dt><span>Siret</span></dt>
        <dd>
            <span>{{vm.partenaire.pSiret}}</span>
        </dd>
        <dt><span>Service</span></dt>
        <dd>
            <span>{{vm.partenaire.pService}}</span>
        </dd>
        <dt><span>Nom de l'entreprise</span></dt>
        <dd>
            <span>{{vm.partenaire.pNompart}}</span>
        </dd>
        <dt><span>Adresse</span></dt>
        <dd>
            <span>{{vm.partenaire.pRue}}</span>
        </dd>
        <dt><span>Complément d'adresse</span></dt>
        <dd>
            <span>{{vm.partenaire.pCpltRue}}</span>
        </dd>
        <dt><span>N° de département</span></dt>
        <dd>
            <span>{{vm.partenaire.pCodep}}</span>
        </dd>
        <dt><span>Ville</span></dt>
        <dd>
            <span>{{vm.partenaire.pVille}}</span>
        </dd>
        <dt><span>N° de téléphone</span></dt>
        <dd>
            <span>{{vm.partenaire.pTelStd}}</span>
        </dd>
        <dt><span>Fax</span></dt>
        <dd>
            <span>{{vm.partenaire.pFax}}</span>
        </dd>
        <dt><span>Site Internet</span></dt>
        <dd>
            <span>{{vm.partenaire.pUrl}}</span>
        </dd>
        <dt><span>Commentaire</span></dt>
        <dd>
            <span>{{vm.partenaire.pCommentaire}}</span>
        </dd>
        <dt><span>E Relation</span></dt>
        <dd>
            <span>{{vm.partenaire.eRelation}}</span>
        </dd>
        <dt><span>E Envoi</span></dt>
        <dd>
            <span>{{vm.partenaire.eEnvoi}}</span>
        </dd>
        <dt><span>E Public Asso</span></dt>
        <dd>
            <span>{{vm.partenaire.ePublicAsso}}</span>
        </dd>
        <dt><span>E Taxe Pro</span></dt>
        <dd>
            <span>{{vm.partenaire.eTaxePro}}</span>
        </dd>
        <dt><span>E Der Prop</span></dt>
        <dd>
            <span>{{vm.partenaire.eDerProp}}</span>
        </dd>
        <dt><span>E Der Stage</span></dt>
        <dd>
            <span>{{vm.partenaire.eDerStage}}</span>
        </dd>
        <dt><span>E Nom Signataire</span></dt>
        <dd>
            <span>{{vm.partenaire.eNomSignataire}}</span>
        </dd>
        <dt><span>E Nbranc</span></dt>
        <dd>
            <span>{{vm.partenaire.eNbranc}}</span>
        </dd>
        <dt><span>E Effectif</span></dt>
        <dd>
            <span>{{vm.partenaire.eEffectif}}</span>
        </dd>
        <dt><span>P Operat</span></dt>
        <dd>
            <span>{{vm.partenaire.pOperat}}</span>
        </dd>
        <dt><span>P Date Maj</span></dt>
        <dd>
            <span>{{vm.partenaire.pDateMaj | date:'mediumDate'}}</span>
        </dd>
        <dt><span>P Sauvegarde</span></dt>
        <dd>
            <span>{{vm.partenaire.pSauvegarde}}</span>
        </dd>
        <dt><span>P Maj</span></dt>
        <dd>
            <span>{{vm.partenaire.pMaj}}</span>
        </dd>
        <dt><span>Code NAF</span></dt>
        <dd>
            <a ui-sref="naf-detail({id:vm.partenaire.nafCode.id})">{{vm.partenaire.nafCode.nafLibelle}}</a>
        </dd>
        <dt><span>Région</span></dt>
        <dd>
            <a ui-sref="region-detail({id:vm.partenaire.rCodereg.id})">{{vm.partenaire.rCodereg.rLibelle}}</a>
        </dd>
        <dt><span>Activité</span></dt>
        <dd>
            <a ui-sref="activite-detail({id:vm.partenaire.taCode.id})">{{vm.partenaire.taCode.taLibelle}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="partenaire-detail.edit({id:vm.partenaire.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
