<div>
    <h2>Partenaires</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="partenaire.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Partenaire
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Num Seq</span></th>
                    <th><span>Siret</span></th>
                    <th><span>Service</span></th>
                    <th><span>Nom partenaire</span></th>
                    <th><span>Adresse</span></th>
                    <th><span>Cplt adresse</span></th>
                    <th><span>N° dép</span></th>
                    <th><span>Ville</span></th>
                    <th><span>Tel</span></th>
                    <th><span>Fax</span></th>
                    <th><span>Site</span></th>
                    <th><span>Commentaire</span></th>
                    <th><span>E Relation</span></th>
                    <th><span>E Envoi</span></th>
                    <th><span>E Public Asso</span></th>
                    <th><span>E Taxe Pro</span></th>
                    <th><span>E Der Prop</span></th>
                    <th><span>E Der Stage</span></th>
                    <th><span>E Nom Signataire</span></th>
                    <th><span>E Nbranc</span></th>
                    <th><span>E Effectif</span></th>
                    <th><span>P Operat</span></th>
                    <th><span>P Date Maj</span></th>
                    <th><span>P Sauvegarde</span></th>
                    <th><span>P Maj</span></th>
                    <th><span>Code NAF</span></th>
                    <th><span>Région</span></th>
                    <th><span>Activité</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="partenaire in vm.partenaires track by partenaire.id">
                    <td><a ui-sref="partenaire-detail({id:partenaire.id})">{{partenaire.id}}</a></td>
                    <td>{{partenaire.pNumSeq}}</td>
                    <td>{{partenaire.pSiret}}</td>
                    <td>{{partenaire.pService}}</td>
                    <td>{{partenaire.pNompart}}</td>
                    <td>{{partenaire.pRue}}</td>
                    <td>{{partenaire.pCpltRue}}</td>
                    <td>{{partenaire.pCodep}}</td>
                    <td>{{partenaire.pVille}}</td>
                    <td>{{partenaire.pTelStd}}</td>
                    <td>{{partenaire.pFax}}</td>
                    <td>{{partenaire.pUrl}}</td>
                    <td>{{partenaire.pCommentaire}}</td>
                    <td>{{partenaire.eRelation}}</td>
                    <td>{{partenaire.eEnvoi}}</td>
                    <td>{{partenaire.ePublicAsso}}</td>
                    <td>{{partenaire.eTaxePro}}</td>
                    <td>{{partenaire.eDerProp}}</td>
                    <td>{{partenaire.eDerStage}}</td>
                    <td>{{partenaire.eNomSignataire}}</td>
                    <td>{{partenaire.eNbranc}}</td>
                    <td>{{partenaire.eEffectif}}</td>
                    <td>{{partenaire.pOperat}}</td>
                        <td>{{partenaire.pDateMaj | date:'mediumDate'}}</td>
                    <td>{{partenaire.pSauvegarde}}</td>
                    <td>{{partenaire.pMaj}}</td>
                    <td>
                        <a ui-sref="naf-detail({id:partenaire.nafCode.id})">{{partenaire.nafCode.nafLibelle}}</a>
                    </td>
                    <td>
                        <a ui-sref="region-detail({id:partenaire.rCodereg.id})">{{partenaire.rCodereg.rLibelle}}</a>
                    </td>
                    <td>
                        <a ui-sref="activite-detail({id:partenaire.taCode.id})">{{partenaire.taCode.taLibelle}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="partenaire-detail({id:partenaire.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="partenaire.edit({id:partenaire.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="partenaire.delete({id:partenaire.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
