
<div>
    <h2><span>Détail du stage</span></h2>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <h4><span>Informations sur l'entreprise</span></h4>
        <dt><span>Nom de l'enreprise</span></dt>
        <dd>
            <span>{{vm.stage.sNompart}}</span>
        </dd>
        <dt><span>Adresse</span></dt>
        <dd>
            <span>{{vm.stage.sAdresse}}</span>
        </dd>
        <dt><span>Complément d'adresse</span></dt>
        <dd>
            <span>{{vm.stage.sCpltAdresse}}</span>
        </dd>
        <dt><span>Ville</span></dt>
        <dd>
            <span>{{vm.stage.aIdent.pVille}}</span>
        </dd>
        <dt><span>Service</span></dt>
        <dd>
            <span>{{vm.stage.sService}}</span>
        </dd>

        <br/>

        <h4><span>Informations sur l'étudiant</span></h4>
        <dt><span>N° étudiant</span></dt>
        <dd>
            <span>{{vm.stage.aIdent.aNumSeq}}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
            <span>{{vm.stage.aIdent.aNomUsuel}}</span>
        </dd>
        <dt><span>Prénoms</span></dt>
        <dd>
            <span>{{vm.stage.aIdent.aPrenoms}}</span>
        </dd>

        <br/>

        <h4><span>Informations sur le stage</span></h4>
        <dt><span>Date de début</span></dt>
        <dd>
            <span>{{vm.stage.sDateDebut | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Date de fin</span></dt>
        <dd>
            <span>{{vm.stage.sDateFin | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Sujet</span></dt>
        <dd>
            <span>{{vm.stage.sSujet}}</span>
        </dd>
        <dt><span>Langages</span></dt>
        <dd>
            <span>{{vm.stage.sLang}}</span>
        </dd>
        <dt><span>Materiel</span></dt>
        <dd>
            <span>{{vm.stage.sMateriel}}</span>
        </dd>
        <dt><span>Mots Cles</span></dt>
        <dd>
            <span>{{vm.stage.mMotsCles}}</span>
        </dd>
        <dt><span>Details</span></dt>
        <dd>
            <span>{{vm.stage.sDetails}}</span>
        </dd>
        <dt><span>Jours Duree Travail</span></dt>
        <dd>
            <span>{{vm.stage.sJoursDureeTravail}}</span>
        </dd>
        <dt><span>Indp</span></dt>
        <dd>
            <span>{{vm.stage.sIndp}}</span>
        </dd>
        <dt><span>Versement</span></dt>
        <dd>
            <span>{{vm.stage.sVersement}}</span>
        </dd>
        <dt><span>Avantages Nature</span></dt>
        <dd>
            <span>{{vm.stage.sAvantagesNature}}</span>
        </dd>
        <dt><span>Mode Suivi</span></dt>
        <dd>
            <span>{{vm.stage.sModeSuiv}}</span>
        </dd>
        <dt><span>Appreciation</span></dt>
        <dd>
            <span>{{vm.stage.sAppreciation}}</span>
        </dd>
        <dt><span>Date Convention</span></dt>
        <dd>
            <span>{{vm.stage.sDateConv  | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Etat Convention</span></dt>
        <dd>
            <span>{{vm.stage.scIdent.libelle}}</span>
        </dd>
        <dt><span>Soutenance</span></dt>
        <dd>
            <span>{{vm.stage.sSoutenance}}</span>
        </dd>
        <dt><span>Rapport</span></dt>
        <dd>
            <span>{{vm.stage.sRapport}}</span>
        </dd>
        <dt><span>Operation</span></dt>
        <dd>
            <span>{{vm.stage.sOperat}}</span>
        </dd>

        <!--<dt><span>Periode Stage</span></dt>
        <dd>
            <a ui-sref="periode-stage-detail({id:vm.stage.diCodeDip.id})">{{vm.stage.diCodeDip.perDate}}</a>
        </dd>
        <dt><span>Per Code</span></dt>
        <dd>
            <a ui-sref="periode-stage-detail({id:vm.stage.perCode.id})">{{vm.stage.perCode.perDate}}</a>
        </dd>!-->

        <br/>

        <h4><span>Informations sur les encadrants</span></h4>
        <dt><span>Enseignant</span></dt>
        <dd><span>{{vm.stage.enIdent.enNom}} {{vm.stage.enIdent.enPrenom}} ({{vm.stage.enIdent.enSesame}})</span></dd>
        <dt><span>Tuteur</span></dt>
        <dd><span>{{vm.stage.numSeqEnc.cNom}} {{vm.stage.numSeqEnc.user.firstName}}</span></dd>
        <dt><span>Responsable</span></dt>
        <dd><span>{{vm.stage.numSeqResp.cNom}} {{vm.stage.numSeqResp.user.firstName}}</span></dd>

        <br/>

        <h4><span>Modifications</span></h4>
        <dt><span>Date de mise à jour</span></dt>
        <dd>
            <span>{{vm.stage.sDateMaj | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Auteur de la mise à jour</span></dt>
        <dd>
            <span>{{vm.stage.sMaj}}</span>
        </dd>
    </dl>
    <div class="btn-group btn-group-container">
        <button type="submit"
                ui-sref="{{ vm.previousState }}"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
        </button>
        <button type="button" class="btn btn-default" ng-controller="ExportCsvController" ng-click="exportData('enseignant-stage-'+vm.stage.id, vm.stageCSV)">
          <i class="glyphicon glyphicon-download"></i>
          Exporter au format CSV
        </button>
    </div>
</div>
