<div ng-cloak>
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h1>Système d'information de l'ISTIC</h1>
        </div>        
    </div>
    <div class="row">
    	<div class="col-md-offset-1 col-md-10 banner-istic">
    		<img src="./content/images/photo-istic.png" alt="L'ISTIC et ses palmiers, grand lieux de travail, détente et convivialité"/>
    	</div>    	
    </div>
</div>
