
<div>
    <h2><span>Texte Enquete</span> {{vm.texteEnquete.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Te Reponse</span></dt>
        <dd>
            <span>{{vm.texteEnquete.teReponse}}</span>
        </dd>
        <dt><span>A Ident</span></dt>
        <dd>
            <a ui-sref="enquete-detail({id:vm.texteEnquete.aIdent.id})">{{vm.texteEnquete.aIdent.id}}</a>
        </dd>
        <dt><span>Enq N Ordre</span></dt>
        <dd>
            <a ui-sref="enquete-detail({id:vm.texteEnquete.enqNOrdre.id})">{{vm.texteEnquete.enqNOrdre.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="texte-enquete-detail.edit({id:vm.texteEnquete.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
