<div>
    <h2>Texte Enquetes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="texte-enquete.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Texte Enquete
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Te Reponse</span></th>
                    <th><span>A Ident</span></th>
                    <th><span>Enq N Ordre</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="texteEnquete in vm.texteEnquetes track by texteEnquete.id">
                    <td><a ui-sref="texte-enquete-detail({id:texteEnquete.id})">{{texteEnquete.id}}</a></td>
                    <td>{{texteEnquete.teReponse}}</td>
                    <td>
                        <a ui-sref="enquete-detail({id:texteEnquete.aIdent.id})">{{texteEnquete.aIdent.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="enquete-detail({id:texteEnquete.enqNOrdre.id})">{{texteEnquete.enqNOrdre.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="texte-enquete-detail({id:texteEnquete.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="texte-enquete.edit({id:texteEnquete.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="texte-enquete.delete({id:texteEnquete.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
