
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTexteEnqueteLabel">Create or edit a Texte Enquete</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.texteEnquete.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.texteEnquete.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_teReponse">Te Reponse</label>
            <input type="text" class="form-control" name="teReponse" id="field_teReponse"
                    ng-model="vm.texteEnquete.teReponse"
                    required />
            <div ng-show="editForm.teReponse.$invalid">
                <p class="help-block"
                    ng-show="editForm.teReponse.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_aIdent">A Ident</label>
            <select class="form-control" id="field_aIdent" name="aIdent" ng-model="vm.texteEnquete.aIdent" ng-options="enquete as enquete.id for enquete in vm.aidents | orderBy:'id' track by enquete.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_enqNOrdre">Enq N Ordre</label>
            <select class="form-control" id="field_enqNOrdre" name="enqNOrdre" ng-model="vm.texteEnquete.enqNOrdre" ng-options="enquete as enquete.id for enquete in vm.enqnordres | orderBy:'id' track by enquete.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
