<div>
    <h2>Dipl ISTICS</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="dipl-istic.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Dipl ISTIC
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>An Sortie</span></th>
                    <th><span>If Divers</span></th>
                    <th><span>An Entree</span></th>
                    <th><span>Poursuite Etudes</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="diplISTIC in vm.diplISTICS track by diplISTIC.id">
                    <td><a ui-sref="dipl-istic-detail({id:diplISTIC.id})">{{diplISTIC.id}}</a></td>
                    <td>{{diplISTIC.anSortie}}</td>
                    <td>{{diplISTIC.ifDivers}}</td>
                    <td>{{diplISTIC.anEntree}}</td>
                    <td>{{diplISTIC.poursuiteEtudes}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="dipl-istic-detail({id:diplISTIC.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dipl-istic.edit({id:diplISTIC.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dipl-istic.delete({id:diplISTIC.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
