
<div>
    <h2><span>Dipl ISTIC</span> {{vm.diplISTIC.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>An Sortie</span></dt>
        <dd>
            <span>{{vm.diplISTIC.anSortie}}</span>
        </dd>
        <dt><span>If Divers</span></dt>
        <dd>
            <span>{{vm.diplISTIC.ifDivers}}</span>
        </dd>
        <dt><span>An Entree</span></dt>
        <dd>
            <span>{{vm.diplISTIC.anEntree}}</span>
        </dd>
        <dt><span>Poursuite Etudes</span></dt>
        <dd>
            <span>{{vm.diplISTIC.poursuiteEtudes}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="dipl-istic-detail.edit({id:vm.diplISTIC.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
