
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDiplISTICLabel">Create or edit a Dipl ISTIC</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.diplISTIC.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.diplISTIC.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_anSortie">An Sortie</label>
            <input type="number" class="form-control" name="anSortie" id="field_anSortie"
                    ng-model="vm.diplISTIC.anSortie"
                    required />
            <div ng-show="editForm.anSortie.$invalid">
                <p class="help-block"
                    ng-show="editForm.anSortie.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.anSortie.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ifDivers">If Divers</label>
            <input type="text" class="form-control" name="ifDivers" id="field_ifDivers"
                    ng-model="vm.diplISTIC.ifDivers"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_anEntree">An Entree</label>
            <input type="number" class="form-control" name="anEntree" id="field_anEntree"
                    ng-model="vm.diplISTIC.anEntree"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_poursuiteEtudes">Poursuite Etudes</label>
            <input type="text" class="form-control" name="poursuiteEtudes" id="field_poursuiteEtudes"
                    ng-model="vm.diplISTIC.poursuiteEtudes"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
