
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myContactLabel">Create or edit a Contact</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.contact.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.contact.id" readonly />
        </div>

        <div class="form-group">
            <label class="control-label">Login</label>
            <input type="text" class="form-control" name="login"
                   ng-model="vm.contact.user.login" ng-required="vm.contact.user.id == null" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/">

            <div ng-show="editForm.login.$invalid">
                <p class="help-block"
                   ng-show="editForm.login.$error.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.login.$error.maxlength"
                  >
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_cNom">Nom</label>
            <input type="text" class="form-control" name="cNom" id="field_cNom"
                    ng-model="vm.contact.cNom"
                    required />
            <div ng-show="editForm.cNom.$invalid">
                <p class="help-block"
                    ng-show="editForm.cNom.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.cNom.$error.maxlength"
                  >
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Prénom</label>
            <input type="text" class="form-control" name="firstName"
                   ng-model="vm.contact.user.firstName" ng-maxlength="50">

            <div ng-show="editForm.firstName.$invalid">
                <p class="help-block"
                   ng-show="editForm.firstName.$error.maxlength"
                  >
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_cSexe">Sexe</label><br/>
            <div class="radio-inline">
			  	<input type="radio" name="cSexe" id="field_cSexe" ng-model="vm.contact.cSexe" value="H" checked> Homme
			</div>
            <div class="radio-inline">
			  	<input type="radio" name="cSexe" id="field_cSexe" ng-model="vm.contact.cSexe" value="F"> Femme
			</div>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_cRole">Role</label>
            <input type="text" class="form-control" name="cRole" id="field_cRole"
                    ng-model="vm.contact.cRole"
                    required />
            <div ng-show="editForm.cRole.$invalid">
                <p class="help-block"
                    ng-show="editForm.cRole.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_cTel">Téléphone</label>
            <input type="text" class="form-control" name="cTel" id="field_cTel"
                    ng-model="vm.contact.cTel"
                     />
        </div>

        <div class="form-group">
            <label class="control-label">Email</label>
            <input type="email" class="form-control" name="email"
                   ng-model="vm.contact.user.email" required ng-maxlength="100">

            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                   ng-show="editForm.email.$error.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.email.$error.maxlength"
                  >
                    This field cannot be longer than 100 characters.
                </p>
				<p class="help-block"
                   ng-show="editForm.email.$error.email">
                    Your e-mail is invalid.
                 </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_pIdent">Partenaire</label>
            <select class="form-control" id="field_pIdent" name="pIdent" ng-model="vm.contact.pIdent" ng-options="partenaire as partenaire.pNompart for partenaire in vm.pidents | orderBy:'pNompart' track by partenaire.id" required>
                <option value=""></option>
            </select>
            <div ng-show="editForm.pIdent.$invalid"></div>
        </div>

        <!-- User informations -->

        <div class="form-group">
            <label for="activated">
                <!-- Disable when update -->
                <input ng-disabled="vm.user.id === null" type="checkbox" id="activated" name="activated" ng-model="vm.contact.user.activated">
                <span>Activated</span>
            </label>
        </div>

        <!-- End user informations -->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
