
<div>
    <h2><span>Contact</span> {{vm.contact.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Nom</span></dt>
        <dd>
            <span>{{vm.contact.cNom}}</span>
        </dd>
        <dt><span>Role</span></dt>
        <dd>
            <span>{{vm.contact.cRole}}</span>
        </dd>
        <dt><span>Sexe</span></dt>
        <dd>
            <span>{{vm.contact.cSexe}}</span>
        </dd>
        <dt><span>Tel</span></dt>
        <dd>
            <span>{{vm.contact.cTel}}</span>
        </dd>
        <dt><span>Partenaire</span></dt>
        <dd>
            <a ui-sref="partenaire-detail({id:vm.contact.pIdent.id})">{{vm.contact.pIdent.pNompart}}</a>
        </dd>
        <dt><span>Login</span></dt>
        <dd>
            <span>{{vm.contact.user.login}}</span>
        </dd>
        <dt><span>Prénom</span></dt>
        <dd>
            <span>{{vm.contact.user.firstName}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{vm.contact.user.email}}</span>
        </dd>
        <dt><span>Activated</span></dt>
        <dd>
            <span>{{vm.contact.user.activated}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="contact-detail.edit({id:vm.contact.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
