<div>
    <h2>Contacts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="contact.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Contact
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Nom</span></th>
                    <th><span>Role</span></th>
                    <th><span>Sexe</span></th>
                    <th><span>Tel</span></th>
                    <th><span>Partenaire</span></th>
                    <th><span>Login</span></th>
                    <th><span>Prénom</span></th>
                    <th><span>Email</span></th>
                    <th><span>Activated</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in vm.contacts track by contact.id">
                    <td><a ui-sref="contact-detail({id:contact.id})">{{contact.id}}</a></td>
                    <td>{{contact.cNom}}</td>
                    <td>{{contact.cRole}}</td>
                    <td>{{contact.cSexe}}</td>
                    <td>{{contact.cTel}}</td>
                    <td>
                        <a ui-sref="partenaire-detail({id:contact.pIdent.id})">{{contact.pIdent.pNompart}}</a>
                    </td>
                    <td>{{contact.user.login}}</td>
                    <td>{{contact.user.firstName}}</td>
                    <td>{{contact.user.email}}</td>
                    <td>{{contact.user.activated}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="contact-detail({id:contact.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="contact.edit({id:contact.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="contact.delete({id:contact.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
